<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Tutorials in Theoretical Chemistry</h3>
                </div>
            </div>
            <p>The 2019 Edition of the Tutorials in Theoretical Chemistry
                organized by the Université Paul Sabatier  will be
                held in <b>Luchon-Superbagnères, France,
                from the 28th January to the 7th February 2019</b>.
            </p>
            <br>
            <p>
                These tutorials are focused in computer implementations, and
                numerical methods. The number of students is limited to 26.
            </p>
             <br>
             <br>
             <br>
            <p>
     <font size="3">
         <strong>This event is done in the frame of <a
                 href="http://www.quantware.ups-tlse.fr/ecoledeluchon/">École
                 des sciences avancées de Luchon</a></strong> the mirror web
         page is at <a
             href="http://www.quantware.ups-tlse.fr/ecoledeluchon/sessionwis2/">http://www.quantware.ups-tlse.fr/ecoledeluchon/sessionwis2/</a>.
    </font>
            </p>
            <br>
                    <p>
                        <div align=center>
                    <h4>Organising committee</h4>
                       </div>
                        <ul>
                            <li> Stefano Evangelisti</li>
<!-- <li> Thierry Leininger </li> -->
                            <li> Arjan Berger </li>
<!-- <li> Romuald Poteau </li> -->
<!-- <li> Nicolas Suaud</li> -->
                            <li> Jérôme Cuny</li>
                        </ul>
                    </p>
            <br>
            <br>
            <br>
                <div class="col-lg-12 text-center">
                    <img id="LTTC 2018 group picture"
                    src="img/about/group_picture_2018.jpg" border="0" width="855"
                    height="450" orgWidth="855" orgHeight="450" alt="" />
                    <br>
                    <br>
                    See the 2018 <a href="img/about/group_picture_2018.jpg">group picture in full resolution here</a>.
                </div>
            <br>
            <br>
            <br>
            <br>
                <div class="col-lg-12 text-center">
                    <h2>Sponsored by</h2>
                    <br>
                    <br>
                    <img id="Sponsors of LTTC" src="img/about/sponsors_new.png" border="0" width="740" height="508" orgWidth="740" orgHeight="508" usemap="#image-maps-2014-11-16-132249" alt="" />
                    <map name="image-maps-2014-11-16-132249" id="ImageMapsCom-image-maps-2014-11-16-132249">
                        <area  alt="Theoretical Chemistry and Computational Modelling (TCCM)" title="EMTCCM" href="http://emtccm.qui.uam.es/" shape="rect" coords="0,0,343,171" style="outline:none;" target="_self"     />
                        <area  alt="NEXT" title="Nano|Extreme Measurements| Theory (NEXT)" href="http://www.next-toulouse.fr/" shape="rect" coords="357,4,740,165" style="outline:none;" target="_self"     />
                        <area  alt="" title="Université Paul Sabatier" href="http://www.univ-tlse3.fr/" shape="rect" coords="0,190,408,314" style="outline:none;" target="_self"     />
                        <area  alt="" title="Institut de Recherche sur les Systèmes Atomiques et Moléculaires Complexes (IRSAMC)" href="http://www.irsamc.ups-tlse.fr/?lang=fr" shape="rect" coords="432,204,740,318" style="outline:none;" target="_self"     />
                        <area  alt="" title="Laboratoire de Chimique et Physique Quantiques" href="http://www.lcpq.ups-tlse.fr/?lang=fr" shape="rect" coords="8,361,235,470" style="outline:none;" target="_self"     />
                        <area  alt="" title="LABORATOIRE DE PHYSIQUE ET CHIMIE DE NANO-OBJETS" href="http://lpcno.insa-toulouse.fr" shape="rect" coords="249,356,570,483" style="outline:none;" target="_self"     />
<!--                        <area  alt="" title="Réseau Français de Chimie Théorique" href="http://www.chimie-theorique.cnrs.fr" shape="rect" coords="583,348,736,489" style="outline:none;" target="_self"     /> -->
                        <area shape="rect" coords="738,506,740,508" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
                    </map>


                </div>
    </section>
