<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                     <a href="#">
                        <img src="http://www.irsamc.ups-tlse.fr/tccm2014/images/bio-photo.jpg" class="img-responsive img-centered" alt="" height="48" width="52">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                     <a href="#">
                        <img src="http://www.next-toulouse.fr/template/next/img/logo-next-fr.png" class="img-responsive img-centered" alt="" height="348" width="162">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="http://ectn-assoc.cpe.fr/chemistry-eurolabels/images/logos/Logo_Consortium_psi_big2.jpg" class="img-responsive img-centered" alt="" height="228" width="52">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="http://w01-biblio.lcar.ups-tlse.fr/pmb/opac_css/images/site/logo_irsamc10.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
