<!-- Team Section -->
    <section id="programme" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <h3 class="section-subheading text-muted">TCCM Winter Tutorial
Computational Tools for Theoretical Chemistry 2015
</h3>


				<h4> Topics </h4>
				<p>
				<div align=justify>
				<ul>
					<li>  Advanced programming techniques. </li>
					<li> Geometry and Topology: Building Nanoparticles.</li>
					<li> Low-dimensional Carbon structures: the usefulness of simple approaches. </li>
					<li> Quantum Magnetism: the Heisenberg model. </li>
					<li> Quantum Dynamics: Propagating wave packets. </li>
					<li> Vibrations in Molecules: Harmonic/Morse Oscillators. </li>
				</ul>
			</div>
			</p>

                        <br>
                        <br>
                        <br>
				<h4> Preliminary Program </h4>
<img src="img/program/preliminaryp.png" alt="Preliminary program">
			 </div>

    </section>
