<!-- Team Section -->
    <section id="programme" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <h3 class="section-subheading text-muted">TCCM Winter Tutorial
Computational Tools for Theoretical Chemistry 2018
</h3>


				<h4> Topics </h4>
				<p>
				<div align=justify>
<!--				<ul>
                                    <li> <b>LDCS</b>: Low-dimensional Carbon structures - the usefulness of simple approaches. (S. Evangelisti) </li>
                                    <li> <b>QM</b>: Quantum Magnetism - the Heisenberg model. (N. Suaud) </li>
                                    <li> <b>QD</b>: Quantum Dynamics. (A. Berger) </li>
                                    <li> <b>PES</b>: Exploration of Potential Energy Surfaces. (J. Cuny) </li>
                                    <li> <b>HPC</b>: High Perfomance Computing - Parallel Computing. (A. Scemama) </li>
                                    <li> <b>BNP</b>: Geometry and Topology - Building Nanoparticles. (R. Poteau) </li>
				</ul> -->

                        <br>
                        <br>
                        <br>

           <div class="row">

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/antho.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h5>High Perfomance Computing and Parallel Computing (HPC)</h5>
                        <p class="text-muted">Anthony Scemama (LCPQ)</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/titoo.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h5>Theory and implementation of DFT-based methods (DFT)</h5>
                        <p class="text-muted">Pierre-François Loos (LCPQ)</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/romu.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h5>Geometry and Topology - Building Nanoparticles (BNP)</h5>
                        <p class="text-muted">Romuald Poteau (LPCNO)</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/jerome.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h5>Exploration of Potential Energy Surfaces - Molecular Dynamics (PES)</h5>
                        <p class="text-muted">Jérôme Cuny (LCPQ)</p>
                    </div>
                </div>

            </div>

            <br>
            <br>

           <div class="row">

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/nico.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h5>Quantum Magnetism - the Heisenberg model (QM)</h5>
                        <p class="text-muted">Nicolas Suaud (LCPQ)</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/doublewell.gif" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h5>Quantum Dynamics (QD)</h5>
                        <p class="text-muted">Arjan Berger (LCPQ)</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/stefano.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h5>Low-dimensional Carbon structures - the usefulness of simple approaches (LDCS)</h5>
                        <p class="text-muted">Stefano Evangelisti (LCPQ)</p>
                    </div>
                </div>

            </div>

			</div>
			</p>

                        <br>
                        <br>
                        <br>
				<h4> Teachers </h4>
				<p>
				<div align=justify>

				<ul>
					<li> Arjan Berger (LCPQ)</li>
					<li> Anthony Scemama (LCPQ)</li>
                                        <li> Pierre-François Loos (LCPQ)</li>
                                        <li> Jérôme Cuny (LCPQ)</li>
					<li> Stefano Evangelisti (LCPQ) </li>
					<li> Romuald Poteau (LPCNO)</li>
					<li> Nicolas Suaud (LCPQ)</li>
				</ul>
			        </div>
			        </p>
                        <br>
                        <br>
                        <br>
				<div align=justify>
                                    <ul style="list-style-type:none">
                                        <li><b>LCPQ</b>: Laboratoire de Chimique et Physique Quantiques; Université Paul Sabatier - Toulouse.   </li>
                                        <li><b>LPCNO</b>: Laboratoire de Physique et Chimique des Nano-Objets; Université Paul Sabatier et INSA - Toulouse. </li>
                        </div>
                        <br>
                 <!--   <br>
                        <br>
                                <h4> Courses </h4>
                                <p>
                                <div align=center>
                                <a href="https://cloud.irsamc.ups-tlse.fr/index.php/s/6VyQWrGtgymRP05">Courses are available here till Februry 24th</a></li>
                        </div>
                        </p>
                        <br> -->
                        <br>
                        <br>
				<h4>  Program </h4>
                        <br>
                        <br>
				<p>
				<div align=center>
                                    <!-- Show per year near the event>
                                    <iframe src="https://www.google.com/calendar/embed?src=kolrp79oa0elif9b6s07e6i38c%40group.calendar.google.com&ctz=Europe/Paris" style="border: 0" width="980" height="676" frameborder="0" scrolling="no"></iframe>
                                    -->
                                    <!-- Show per week near the event> -->
<iframe src="https://calendar.google.com/calendar/embed?src=juch5q5olgfn5oqqf9mtq7i59s%40group.calendar.google.com&ctz=Europe/Paris" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> </div>
<!-- <iframe src="https://www.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=kolrp79oa0elif9b6s07e6i38c%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=Europe%2FParis" style=" border-width:0 " width="1020" height="720" frameborder="0" scrolling="no"></iframe>			        </div>  -->
			</p>
                                <!-- Foto
                                <img src="img/program/Final.png" alt="Preliminary program">
-->

			 </div>

    </section>
