<!-- Team Section -->
    <section id="programme" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <h3 class="section-subheading text-muted">TCCM Winter Tutorial
Computational Tools for Theoretical Chemistry 2015
</h3>


				<h4> Topics </h4>
				<p>
				<div align=justify>
				<ul>
					<li> Advanced programming techniques (T. Leininger) </li>
					<li> Geometry and Topology: Building Nanoparticles (R. Poteau)</li>
					<li> Low-dimensional Carbon structures: the usefulness of simple approaches (S. Evangelisti) </li>
					<li> Quantum Magnetism: the Heisenberg model (N. Suaud) </li>
					<li> Quantum Dynamics (A. Berger) </li>
				</ul>
			</div>
			</p>

                        <br>
                        <br>
                        <br>
				<h4> Teachers </h4>
				<p>
				<div align=justify>
				<ul>
					<li> Arjan Berger (LCPQ)</li>
					<li> Vijay Gopal Chilkuri (LCPQ)</li>
					<li> Lucy Cusinato (LPCNO)</li>
                                        <li> Muammar El Khatib (LCPQ)</li>
					<li> Stefano Evangelisti (LCPQ) </li>
					<li> Thierry Leininger (LCPQ)</li>
					<li> Romuald Poteau (LPCNO)</li>
					<li> Nicolas Suaud (LCPQ)</li>
				</ul>
			</div>
			</p>
                        <br>
                        <br>
                        <br>
				<div align=justify>
                                    <ul style="list-style-type:none">
                                        <li><b>LCPQ</b>: Laboratoire de Chimique et Physique Quantiques; Université Paul Sabatier - Toulouse.   </li>
                                        <li><b>LPCNO</b>: Laboratoire de Physique et Chimique des Nano-Objets; Université Paul Sabatier et INSA - Toulouse. </li>
                        </div>
                        <br>
                        <br>
                        <br>
				<h4>  Program </h4>
                        <br>
                        <br>
				<p>
				<div align=center>
                                    <iframe src="https://www.google.com/calendar/embed?src=kolrp79oa0elif9b6s07e6i38c%40group.calendar.google.com&ctz=Europe/Paris" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
			        </div>
			</p>
                                <!-- Foto
                                <img src="img/program/Final.png" alt="Preliminary program">
-->

			 </div>

    </section>
