<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Register</h2>
                </div>
            </div>
            <p> <font color="white">If you are contacting us for registration, please add in the
                subject: Registration. Additionally, you will need to tell us
                if you will bring your laptop and which operating system you
                use.</font>
            </p>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <form action="http://getsimpleform.com/messages?form_api_token=bef64c5d40c9ca852e54b42607f7d095" method="post" enctype="multipart/form-data">
  <input type='hidden' name='redirect_to' value='http://muammar.me/contact/thanks/' />
  <br />
  <input type='text' id='name' name='name' placeholder='Name' />
  <br />
  <br />
  <input type='text' id='lastname' name='lastname' placeholder='Last Name' />
  <br />
  <br />
  <input type='text' id='email' name='email' placeholder='Your Email' />
  <br />
  <br />
  <input type='text' id='affiliation' name='affiliation' placeholder='Affiliation' />
  <br />
  <br />
  <input type='text' id='positon' name='position' placeholder='Position (Master, PhD)' />
  <br />
  <br />
  <textarea id='message' name='message' placeholder='Message' rows='8' cols='50'></textarea>
  <br />
  <label for='file'>Attachments</label>
  <br />
  <input type='file' name='avatar' />
  <br />
  <input type='submit' value='Submit' />
</form>
                </div>
            </div>
        </div>
    </section>
