<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Register</h2>
                </div>
            </div>
            <p> <font color="white">If you are contacting us for registration, please fill carefully the form below . Additionally, you will need to tell us
                if you will bring your laptop and which operating system you
                use.</font>
            </p>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <form action="http://getsimpleform.com/messages?form_api_token=cf654992ad269d62264c8616d2efb65a" method="post" enctype="multipart/form-data">
  <input type='hidden' name='redirect_to' value='http://www.irsamc.ups-tlse.fr/lttc/register/thanks/' />
  <br />
  <input type='text' id='name' name='name' placeholder='Name' />
  <br />
  <br />
  <input type='text' id='lastname' name='lastname' placeholder='Last Name' />
  <br />
  <br />
  <input type='text' id='email' name='email' placeholder='Your Email' />
  <br />
  <br />
  <input type='text' id='affiliation' name='affiliation' placeholder='Affiliation' />
  <br />
  <br />
  <input type='text' id='positon' name='position' placeholder='Position (Master, PhD)' />
  <br />
  <br />
  <textarea id='especiality' name='especiality' placeholder='Especiality/Title of thesis' cols='50'></textarea>
  <br />
  <br />
  <textarea id='programming' name='programming' placeholder='Do you do programming? (Fortran, Python, C++, C, etc)' cols='50'></textarea>
  <br />
  <br />
  <label for='name'><font color="red">Answer Yes or No</font></label>
  <br />
  <input type='text' id='laptop' name='laptop' placeholder='Will you bring your laptop?' />
  <br />
  <br />
  <label for='name'><font color="red">If you will bring your laptop, then:</font></label>
  <br />
  <input type='text' id='os' name='os' placeholder='Operating system?' />
  <br />
  <br />
  <textarea id='referee' name='referee' placeholder='Please provide the name and email of at least one reference' cols='50'></textarea>
  <br />
  <br />
  <textarea id='message' name='message' placeholder='Message (Optional)' rows='8' cols='50'></textarea>
  <br />
  <label for='file'>Attachments</label>
  <br />
  <input type='file' name='avatar' />
  <br />
  <input type='submit' value='Submit' />
</form>
                </div>
            </div>
        </div>
    </section>
