<!-- Services Section -->
    <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Register</h2>
                    <h3 class="section-subheading text-muted">How to proceed?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inscription</h4>
                    <p class="text-muted">Use the <a href="#contact">registration form </a>to request your inscription to the tutorials.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Payment</h4>
                    <p class="text-muted">If you are accepted, you will get an email with instructions to pay the inscription fees (<b>100€</b>).</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Confirmation</h4>
                    <p class="text-muted">You have to send us back the payment invoice, and once we receive it your participation is confirmed.</p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <p>
                <b>Note:</b> Registration fees cover: meals, accommodation, and travel from
            Toulouse Blagnac to Saint Lary Soulan (we will rent a bus).
            </p>
            <br>
            <br>
                    <p>
                        <div align=center>
                    <h4>Confirmed students</h4>
                       </div>
                       <br>
                       <p>
                            <i>Last updated:.</>
                       </p>
                       <br>
<ul>
                    <br>
       <div style="float: left; width: 33%;">
           <li>   </li>

  </div>
       <div style="float: left; width: 33%;">
           <li> </li>
      </div>
       <div style="float: right; width: 33%;">
           <li></li>
      </div>
</ul>
                    </p>
        </div>
    </section>
