<!-- Portfolio Grid Section -->
    <section id="venue" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Venue</h2>
                    <h3 class="section-subheading text-muted"><a href="http://www.fondationjeanmoulin.fr/loisirs/vacances/reve-de-cimes/le-neouvielle"> Centre de Vacances Le Néouvielle</a> </h3>
                </div>
            </div>
            <p> The tutorials will take place in the <a href="http://www.fondationjeanmoulin.fr/loisirs/vacances/reve-de-cimes/le-neouvielle"> Centre de Vacances Le         Néouvielle</a> that is located in Saint-Lary in Hautes-Pyrénées 80 km south of the département's capital Tarbes, next to the Le Néouvielle Nature Reserve and the Pyrenees National Park and is a 20 minute drive to Spain.
            </p>
<br>
<br>
        <div align="center">
            <iframe src="https://player.vimeo.com/video/122128526" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/122128526">Ski Saint-Lary-Soulan 2015 - GoPro</a> from <a href="https://vimeo.com/user38328158">Mark LUCAS</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>

<br>
<br>
                       <div align="center">
                             <h4>Important dates</h4>
                       </div>
                <p class="text">
                    We will meet at Blagnac Airport on 5th February at 16:00
                    (GMT+1). A bus will take us roundtrip from the airport to
                    the venue as shown below:
                    <br>
                        <ul>
                            <li> <b>Toulouse - Saint-Lary-Soulan </b>: Departure from Blagnac airport on 5th February, 2016 at <font color="red">17:00 (GMT+1)</font>.
                            </li>
                            <li> <b>Saint-Lary Soulan - Toulouse</b>: Arrival on 13th February 2016 at <font color="red">11:00 (GMT+1)</font>.
                            </li>
                        </ul>

                </p>
<br>
<br>

        <div align=center>
            <h4>More about Saint-Lary</h4>
        </div>
<br>

            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
